/* Sobre nós */

*{
    margin: 0;
    padding: 0;
}

#form{
    position: relative;
    top: 20%;
    left:22%;
    background-color:black ;
    height: 350px;
    width: 1000px;
    max-width: 50%;
    border-radius: 10px;
    padding: 50px;
    align-items: center;
    color: black;
}

.title{
    text-align: center;
    font-size: 1.8em;
    color: #32B9CD;
}

.conteudo{
    font-size: 0.7em;
    text-align: center;
    position: relative;
    color: white;
}


body {
    width: 100%;
    height: 100vh;
   
}


/* Carrosel */
.carrosel{
    margin-top: 56px;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
}
.carrosel .carrosel_card .carrosel_image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 10px;
}
.carrosel .carrosel_card .carrosel_image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.carrosel_card{
    position: relative;
    border-radius: 24px;
    box-sizing: border-box;
    background-color: white;
    margin: 50px;
    transition: all 0.5s;
    box-shadow: 1px 1px 6px #32B9CD;

}
.carrosel_card::before{
    content:"";
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #32B9CD;
    border-radius: 24px 24px 0 0;
}
.carrosel_content{
    display: flex;
}
.carrosel .carrosel_card_content{
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.carrosel .carrosel_media_icons{
    position: absolute;
    top: 22px;
    left: 20px;
    display: flex;
    flex-direction: column;
    max-width: 50px;
}
.carrosel .carrosel_media_icons img{
    filter: brightness(1);
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
    max-width: 40px;
}
.carrosel .carrosel_media_icons img:hover{
    filter: brightness(3);
}
.carrosel .carrosel_nome{
    font-size: 20px;
    font-weight: bold;
}
.carrosel .carrosel_email{
    margin-top: 5px;
}
/* Animação carrosel*/
.carroselButton{
    height: 60px;
    position: absolute;
    cursor: pointer;
    z-index: 1000;
}
.prevButton{
    top: 125%;
    left: -0.7%;
    opacity: 100%;
    transition: opacity 0.1s;
}
.prevButton.none{
    opacity: 30%;
}
.nextButton{
    top: 125%;
    right:-0.7%;
}